<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ericsson.ixt">
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.ericsson.ixt.AndroidLoginController"
        android:allowBackup="true"
        android:icon="@drawable/eribw"
        tools:replace="android:label"
        android:label="IXT-M"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"


        android:largeHeap="true">
        <activity android:name="com.ericsson.ixt.ResetPassword"/>
        <activity android:name="com.ericsson.ixt.InputCode"/>
        <activity android:name="com.ericsson.ixt.ActivateUser"/>
        <activity android:name="com.ericsson.ixt.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ericsson.ixt.SignUp" />
        <activity android:name="com.ericsson.ixt.Profile" />
        <activity android:name="com.ericsson.ixt.NewTicket"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ericsson.ixt.SentTicket" />
        <activity android:name="com.ericsson.ixt.SentTicketDetail" />
        <activity android:name="com.ericsson.ixt.About" />
        <activity android:name="com.ericsson.ixt.Inbox" />
        <activity android:name="com.ericsson.ixt.WcList" />
        <activity android:name="com.ericsson.ixt.WcRplist" />
        <activity android:name="com.ericsson.ixt.WCanvas" />
        <activity android:name="com.ericsson.ixt.InboxTicketDetail" />
        <activity android:name="com.ericsson.ixt.History" />
        <activity android:name="com.ericsson.ixt.HistoryTicketDetail" />
        <activity android:name="com.ericsson.ixt.EditProfile" />
        <activity android:name="com.ericsson.ixt.ProjectSelector" />
        <activity android:name="com.ericsson.ixt.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </activity>

        <service android:name="com.ericsson.ixt.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.ericsson.ixt.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false" />
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>